  .LeadsTable {
    background-color: #6dd6ff;
  }

  .TableItem {
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #6dd6ff;

    &:hover {
        background-color: aquamarine;
    }
  }

  .TableItem  > span {
    min-width: 120px;
    text-align: center;
  }

  .noPointer {
    cursor: auto;
    background-color: #00b7ff;
    &:hover {
        background-color: #00b7ff;
    }
  }

  .TableItemTasks {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #ffd6e9;

    &:hover {
        background-color: #ffa2ce
    }
  }

.widthFull{
    width: 100%;
    margin: 10px 10px;
}


  .TasksAbout {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .SpinnerBox {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }